<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
      <% include ./partials/_head %>
</head>
<header>
    <% include ./partials/_header%>
</header>
<style>
  table{
    margin-top: 15px;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    margin: 50%;
    font-size: 10pt;
  }

</style>
<body style="font-size:16px; padding:50px;">
    <% if( urls[shortURL]) {%>
    <form action="/urls/<%= shortURL %>?_method=PUT" method="POST">

      <h1>Short URL: <b><a href="/u/<%= shortURL%>"><%= shortURL%></b> </a></h1>
      <input id="longURL" type="text" name="longURL" value="<%=urls[shortURL].url %>" autofocus style="width: 300px">
      <button type="submit" class="btn btn-info">Update</button>
    </form>
    <i><p style="margin-top: 10px"># of Visits: <%= urls[shortURL].visits %> </p></i>
    <i><p style="margin-top: 5px">Date Created: <%= urls[shortURL].dateCreated %> </p></i>

    <table>
      <caption>All Visits</caption>
    <tr>
      <th>User ID</th>
      <th>Date Visited</th>
    </tr>
          <% for(let visit of urls[shortURL].allVisits) { %>
           <tr>
                <td><%= visit.user_id %></td>
                <td><%= visit.date %></td>
          <% } %>
           </tr>

      </table>

     <% } else{ %>
      <h2><b>Unauthorized Access  </b></h2>
     <% } %>

</body>
</html>